h1 {
    color: red;
}

.proj-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-proj-wrapper {
    padding: 5rem 8rem;
    color: #b5b5b5;
    border: 5px dashed #9e9e9e;
}

.no-proj-wrapper h3 {
    margin-bottom: 1rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
    border: none;
    border-radius: 0.5rem;
    background: #9e9e9e;
    width: 5rem;
    height: 2.5rem;
    cursor: pointer;
    color: #eee;
}